@import "tailwindcss";

:root {
  --font-heading: var(--font-main);
  --font-body: var(--font-body);

  --color-background: #ffffff;
  --color-foreground: #171717;

  --header-height: 80px;
  --header-height-plus-top-section-height: 160px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
  margin: 0;
  padding: 0;
}
